.navigation-bar{
    background-color: rgba(255, 255, 255, 0.5);
    width: 5rem;
    height: 2.5rem;
    border-radius: 0 10px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    margin-left: 40px;
}
.find-icon-licked{
    font-weight: 700;
}